body{
    background-color:rgb(228, 243, 220);
}

.topFrame{
    height:190px;
}

.articleBackgroundColor{
    background-color:#f0f1f3;

}

html,
body {
    overflow-x: hidden;
}

.article {
    height: auto;
    max-width: 100%;
    max-height: 420px;
    overflow: hidden;
}
