.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 30px;
    border: 0px solid #787ba5;
    border-radius: 100px;
    background: #c5c9ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c5c9ff), to(#787ba5));
    background: -moz-linear-gradient(top, #c5c9ff, #787ba5);
    background: linear-gradient(to bottom, #c5c9ff, #787ba5);
    text-shadow: #565876 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

.button:hover,
.button:focus {
    border: 0px solid ##abafeb;
    background: #ecf1ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ecf1ff), to(#9094c6));
    background: -moz-linear-gradient(top, #ecf1ff, #9094c6);
    background: linear-gradient(to bottom, #ecf1ff, #9094c6);
    color: #ffffff;
    text-decoration: none;
}

.button:active {
    background: #787ba5;
    background: -webkit-gradient(linear, left top, left bottom, from(#787ba5), to(#787ba5));
    background: -moz-linear-gradient(top, #787ba5, #787ba5);
    background: linear-gradient(to bottom, #787ba5, #787ba5);
}


#myBtn {
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}